{% extends 'base.html.twig' %}

{% block body %}
    <h1>Godziny przyjęć</h1>
{#
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lekarz_godz_przyj in lekarz_godz_przyjs %}
            <tr>
                <td><a href="{{ path('lekarz_godz_przyj_show', { 'id': lekarz_godz_przyj.id }) }}">{{ lekarz_godz_przyj.id }}</a></td>
                <td>
                    {{ lekarz_godz_przyj.idLekarz }} - {{ lekarz_godz_przyj.idGodzPrzyj }}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('lekarz_godz_przyj_show', { 'id': lekarz_godz_przyj.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('lekarz_godz_przyj_edit', { 'id': lekarz_godz_przyj.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lekarz_godz_przyj_new') }}">Create a new lekarz_godz_przyj</a>
        </li>
    </ul>
  #}
    <div class="my_calendar">
        {% include '::calendar.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/fullcalendar.js') }}"></script>
    <script src="{{ asset('js/pl.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/calendar-settings-godz-przyj.js') }}"></script>
{% endblock %}
