{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
<h1>
    {% if is_granted('ROLE_PACJENT') or is_granted('ROLE_LEKARZ') %}
    Umówione wizyty
    {% endif %}
    {% if is_granted('ROLE_LEKARZ') %}
        | Urlopy
    {% endif %}
</h1>


    <div class="my_calendar">
        {% include '::calendar.html.twig' %}
    </div>
<ul>
    <li>
        {% include "@FOSUser/Profile/show_content.html.twig" %}
    </li>
    {%  if is_granted('ROLE_LEKARZ') %}
        <li>
            <p>Profil Lekarski: {{ user.idLekarz }} </p>
        </li>
    {% endif %}
    {% if is_granted('ROLE_PACJENT') %}
        <li>
            <p>Profil Pacjenta: {{ user.idPacjent }}</p>
        </li>
    {% endif %}

</ul>
{% endblock fos_user_content %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/fullcalendar.js') }}"></script>
    <script src="{{ asset('js/pl.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/calendar-settings-profile.js') }}"></script>
{% endblock %}
