{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show" type="np-form-group">
    <h1>Profil:</h1>
    <table>
        <tbody>
        <tr>
            <th>
                {{ 'profile.show.username'|trans }}
            </th>
            <td>
                {{ user.username }}
            </td>
        </tr>
        <tr>
            <th>
                {{ 'profile.show.email'|trans }}
            </th>
            <td>
                {{ user.email }}
            </td>
        </tr>

        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('fos_user_profile_edit') }}">Edytuj</a>
        </li>
    </ul>
</div>
