    <li><a href="{{ path('pacjent_index') }}">Pacjenci</a></li>
    <li><a href="{{ path('wizyta_index') }}">Wizyty</a></li>
    <li><a href="{{ path('lekarz_index') }}">Lekarze</a></li>
    <li><a href="{{ path('specjalizacja_index') }}">Specjalizacje</a></li>
    <li><a href="{{ path('lekarz_godz_przyj_index') }}">Lekarze - Godziny przyjęć</a></li>
    <li><a href="{{ path('godz_przyj_index') }}">Godziny przyjęć</a></li>
    <li><a href="{{ path('data_urlop_index') }}">Urlopy</a></li>
    <li><a href="{{ path('leki_index') }}">Leki</a></li>
    <li><a href="{{ path('fos_user_group_list') }}">Grupy</a></li>
