{% extends 'base.html.twig' %}

{% block menu2 %}
{% endblock %}
{% block body %}
    <h1>Lekarz</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lekarz.id }}</td>
            </tr>
            <tr>
                <th>Imie</th>
                <td>{{ lekarz.imie }}</td>
            </tr>
            <tr>
                <th>Nazwisko</th>
                <td>{{ lekarz.nazwisko }}</td>
            </tr>
            <tr>
                <th>Tytul</th>
                <td>{{ lekarz.tytul }}</td>
            </tr>
            <tr>
                <th>Specjalizacje</th>
                    {% for spec in lekarz.specjalizacje %}
                    <td>
                        {{ spec }};
                    </td>
                    {% endfor %}
            </tr>
            <tr>
                <th>Godziny przyjęć</th>
                <td>
                    {% set i = 0  %}

                    {% for godz in lekarz.godzPrzyj %}
                        {{ godz.idGodzPrzyj }};
                    <br>
                    {% set i=i+1 %}
                    {% if i==10  %}
                </td>
                <td>
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lekarz_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('lekarz_edit', { 'id': lekarz.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
