{% extends 'base.html.twig' %}
{% block body %}
    <h1>Profil pacjenta</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        {% if is_granted('ROLE_LEKARZ')%}
        <li>
            <a href="{{ path('lekarz_profile_edit',{'id':user.idLekarz.id}) }}">Profil lekarza</a>
        </li>
        {% endif %}
        <li>
            <a href="{{ path('user_profile') }}">Do profilu</a>
        </li>
        {#<li>#}
            {#{{ form_start(delete_form) }}#}
                {#<input type="submit" value="Delete">#}
            {#{{ form_end(delete_form) }}#}
        {#</li>#}
    </ul>
{% endblock %}
