{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pacjents list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Pesel</th>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>Ulica</th>
                <th>Numer</th>
                <th>Miasto</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pacjent in pacjents %}
            <tr>
                <td><a href="{{ path('pacjent_show', { 'id': pacjent.id }) }}">{{ pacjent.id }}</a></td>
                <td>{{ pacjent.pesel }}</td>
                <td>{{ pacjent.imie }}</td>
                <td>{{ pacjent.nazwisko }}</td>
                <td>{{ pacjent.ulica }}</td>
                <td>{{ pacjent.numer }}</td>
                <td>{{ pacjent.miasto }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pacjent_show', { 'id': pacjent.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pacjent_edit', { 'id': pacjent.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pacjent_new') }}">Create a new pacjent</a>
        </li>
    </ul>
{% endblock %}
