<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" type="text/css">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>
        {% block menu %}
            <ul>
                <li><a href="{{ path('home') }}">Home</a></li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {% if is_granted('ROLE_PACJENT') %}
                        <li><a href="{{ path('pacjent_index') }}">Pacjenci</a></li>
                        <li><a href="{{ path('wizyta_index') }}">Wizyty</a></li>

                    {% endif %}
                    {% if is_granted('ROLE_LEKARZ') %}
                        <li><a href="{{ path('kalendarz') }}">Kalendarz</a></li>
                        <li><a href="{{ path('lekarz_index') }}">Lekarze</a></li>
                        <li><a href="{{ path('specjalizacja_index') }}">Specjalizacje</a></li>
                        <li><a href="{{ path('lekarz_godz_przyj_index') }}">Lekarze - Godziny przyjęć</a></li>
                        <li><a href="{{ path('godz_przyj_index') }}">Godziny przyjęć</a></li>
                        <li><a href="{{ path('data_urlop_index') }}">Urlopy</a></li>
                        <li><a href="{{ path('leki_index') }}">Leki</a></li>

                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('fos_user_group_list') }}">Group List</a></li>
                    {% endif %}
                    <li>
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    </li>
                {% endif %}
            </ul>
        {% endblock %}

        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% endblock %}

    </body>
</html>
