{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}
{% block body %}
    <h1>Urlopy</h1>
{#
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Data</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

        {% for data_urlop in data_urlops %}
            <tr>
                <td><a href="{{ path('data_urlop_show', { 'id': data_urlop.id }) }}">{{ data_urlop.id }}</a></td>
                <td>{% if data_urlop.data %}{{ data_urlop.data|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('data_urlop_show', { 'id': data_urlop.id }) }}">show</a>
                        </li>

                        <li>
                            <a href="{{ path('data_urlop_edit', { 'id': data_urlop.id }) }}">edit</a>
                        </li>
                        -->
                    </ul>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('data_urlop_new') }}">Create a new data_urlop</a>
        </li>
    </ul>
#}
    <div class="my_calendar">
        {% include 'ADesignsCalendarBundle::calendar.html.twig' %}
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script type="text/javascript" src="{{ asset('js/calendar-settings-urlop.js') }}"></script>
{% endblock %}
