{% extends 'base.html.twig' %}

{% block body %}
    <h1>Specjalizacja</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ specjalizacja.id }}</td>
            </tr>
            <tr>
                <th>Nazwa</th>
                <td>{{ specjalizacja.nazwa }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('specjalizacja_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('specjalizacja_edit', { 'id': specjalizacja.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
