{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_group_new'), 'attr': { 'class': 'fos_user_group_new' } }) }}
    {{ form_widget(form) }}
    <ul>
        <li>
            <a href="{{ path('fos_user_group_list') }}">Spowrotem do listy</a>
        </li>
        <li>
            <input type="submit" value="{{ 'group.new.submit'|trans }}" />
        </li>
    </ul>

{{ form_end(form) }}
