{% extends 'base.html.twig' %}

{% block body %}
    <h1>Wizytum creation</h1>
{#
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}
#}
    <div id="lekarzChoice"></div>

    <div id="calendar-holder"></div>


    <ul>
        <li>
            <a href="{{ path('wizyta_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jqxcore.js') }}"></script>
    <script src="{{ asset('js/jqxbuttons.js') }}"></script>
    <script src="{{ asset('js/jqxscrollbar.js') }}"></script>
    <script src="{{ asset('js/jqxlistbox.js') }}"></script>
    <script src="{{ asset('js/jqxdropdownlist.js') }}"></script>
    <script src="{{ asset('js/jqxdata.js') }}"></script>
    <script>
        var sourceJson={
            dataType : 'json',
            dataFields : [
                {name : 'name',type : 'string'},
                {name : 'id',type : 'int'}
            ],
            url:  Routing.generate('get_lekarz_list')
        };
        var dataAdapter = new $.jqx.dataAdapter(sourceJson);
        $("#lekarzChoice").jqxDropDownList({ source: dataAdapter, displayMember: "name", valueMember: "id", width: '300px', height: '25px'});
        $('#lekarzChoice').on('select', function (event){
            var args = event.args;
            if (args) {
                var item=args.item;
                var label = item.label;
                var value = item.value;
                //TODO: Get lekarz calendar events;
            }
        });
    </script>

    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/fullcalendar.js') }}"></script>
    <script src="{{ asset('js/pl.js') }}"></script>
    <script src="{{ asset('js/calendar-settings-nowa-wizyta.js') }}"></script>
{% endblock %}