{% extends 'base.html.twig' %}

{% block body %}
    <h1>Umów się na wizytę</h1>
{#
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}
#}
    <br>
    <div id="lekarzChoice"></div>
    <br>
    <div id="calendar-holder"></div>

{#
    <ul>
        <li>
            <a href="{{ path('wizyta_index') }}">Back to the list</a>
        </li>
    </ul>
#}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jqxcore.js') }}"></script>
    <script src="{{ asset('js/jqxbuttons.js') }}"></script>
    <script src="{{ asset('js/jqxscrollbar.js') }}"></script>
    <script src="{{ asset('js/jqxlistbox.js') }}"></script>
    <script src="{{ asset('js/jqxdropdownlist.js') }}"></script>
    <script src="{{ asset('js/jqxdata.js') }}"></script>
    <script>
        function refetchDelay(delay){
            window.setTimeout(function(){
                $('#calendar-holder').fullCalendar('refetchEvents');
            },delay);
        }

        var sourceJson={
            dataType : 'json',
            dataFields : [
                {name : 'name',type : 'string'},
                {name : 'id',type : 'int'}
            ],
            url:  Routing.generate('get_lekarz_list')
        };
        var dataAdapter = new $.jqx.dataAdapter(sourceJson);
        $("#lekarzChoice").jqxDropDownList({ source: dataAdapter,selectedIndex: 0, displayMember: "name", valueMember: "id", width: '300px', height: '25px'});
        $('#lekarzChoice').on('select', function (event){
            refetchDelay(150);
        });
    </script>

    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/fullcalendar.js') }}"></script>
    <script src="{{ asset('js/pl.js') }}"></script>
    <script src="{{ asset('js/calendar-settings-nowa-wizyta.js') }}"></script>
{% endblock %}