{% extends 'base.html.twig' %}

{% block body %}
    <h1>Wizytum</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ wizytum.id }}</td>
            </tr>
            <tr>
                <th>Indeks</th>
                <td>{{ wizytum.indeks }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{% if wizytum.data %}{{ wizytum.data|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Diagnoza</th>
                <td>{{ wizytum.diagnoza }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('wizyta_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('wizyta_edit', { 'id': wizytum.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
